# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]

# ------------------------------------------------------------------------
# Include another configuration file
# Any settings in this file override settings in the included file
# The path is relative to this file
# ------------------------------------------------------------------------

# include_file = basic.config

# ------------------------------------------------------------------------
# City size (integer, default 10)
# The length of the city grid, in blocks.
# ------------------------------------------------------------------------

city_size = 16

# ------------------------------------------------------------------------
# Driver count (integer, default 1)
# The number of vehicles in the simulation. For simulations with 
# equilibration (see below), this is the number of vehicles at the 
# beginning of the simulation
# ------------------------------------------------------------------------

vehicle_count = 400

# ------------------------------------------------------------------------
# Base demand (float)
# An exogenous demand: actual demand = base demand - price
# ------------------------------------------------------------------------

base_demand = 10

# ------------------------------------------------------------------------
# Time blocks (integer)
# The number of time blocks to run the simulation. Each block corresponds
# to a vehicle travelling one block
# ------------------------------------------------------------------------

time_blocks = 360

# ------------------------------------------------------------------------
# Trip inhomogeneity (float in [0,1], default = 0.0)
# The more trip inhomogeneity, the more trips start in the city center
# ------------------------------------------------------------------------

trip_inhomogeneity = 0.0

# ------------------------------------------------------------------------
# Log file (string, default None)
# Log file name. By default, log messages are written to standard output
# only.
# ------------------------------------------------------------------------

log_file = 

# ------------------------------------------------------------------------
# Animation (binary, default False)
# If true, display or save animation.
# Animation configuration is in the [ANIMATION] section
# ------------------------------------------------------------------------

animate = True

# ------------------------------------------------------------------------
# Equilibration (choice from supply, price, none. Default None)
# Equilibrate the number of vehicles (supply), the request rate (demand)
# or full. The details of the parameter choices and equilibration rates
# are given in other parameters
# ------------------------------------------------------------------------

equilibration = True  

# ------------------------------------------------------------------------
# Run sequence (boolean, default False)
# Set to True to run a sequence of simulations with different vehicle 
# counts and request rates
# ------------------------------------------------------------------------

sequence = True

[ANIMATION]

# ------------------------------------------------------------------------
# Animate
# Select which charts and / or maps to display. 
# Possible values include 
#   - none (no charts)
#   - map 
#   - stats
#   - bar
#   - all (map + stats)
#   - sequence
# ------------------------------------------------------------------------

animate = sequence

# ------------------------------------------------------------------------
# Animate update period (integer, default 1)
# Update charts every N periods
# ------------------------------------------------------------------------

animate_update_period = 1

# ------------------------------------------------------------------------
# ImageMagick_Dir (string)
# If you choose an MP4 or GIF output (output parameter) then you need 
# ImageMagick installed. This is the directory in which it is installed, 
# for example:
#
#   imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16" 
# ------------------------------------------------------------------------

imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16

# ------------------------------------------------------------------------
# Smoothing Window (integer, default = 20)
# Rolling window in which to compute trailing averages (wait times, busy
# fraction etc) that are used in graphs and in calculations.
# ------------------------------------------------------------------------

smoothing_window = 20

# ------------------------------------------------------------------------
# Animation output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# ------------------------------------------------------------------------

animation_output = none 

[EQUILIBRATION]
# ------------------------------------------------------------------------
# Equilibration method. Should usually be "None" or "Price"
# ------------------------------------------------------------------------

equilibrate = supply

# ------------------------------------------------------------------------
# Price (float, default 1)
# Has effect only if an equilibration method is chosen
# Price is a part of the equilibration path
# ------------------------------------------------------------------------

price = 1.0

# ------------------------------------------------------------------------
# Platform commission F (float, default 0.0)
# Has effect only if an equilibration method is chosen and affects supply.
# The vehicle utility per block is U = P.B.(1 - F) - C_d, 
# where F = platform commission. F > 0 amounts to the platform taking a 
# commission, F < 0 is the platform subsidizing vehicles.
# ------------------------------------------------------------------------

platform_commission = 0.0

# ------------------------------------------------------------------------
# Reserved wage (float, default 1)
# Has effect only if an equilibration method is chosen and affects supply.
# The vehicle utility per block is U = P.B - C_d, where C_d = reserved wage
# ------------------------------------------------------------------------

reserved_wage = 0.40

# ------------------------------------------------------------------------
# Demand elasticity (float, default 1.0)
# Has effect only if an equilibration method is chosen and affects demand.
# The demand (request rate) = k * p ^ (-r) 
# where r is the demand elasticity and k is the base demand
# ------------------------------------------------------------------------

# demand_elasticity = 0.5

# ------------------------------------------------------------------------
# Equilibration interval (int)
# Has effect only if an equilibration method is chosen and affects demand.
# The number of blocks at which equilibration steps are chosen
# ------------------------------------------------------------------------

equilibration_interval = 5


[IMPULSES]

# ------------------------------------------------------------------------
# Sudden changes during the simulation
# Write as a list of dictionaries.
# ------------------------------------------------------------------------

# impulse_list = [{"block": 480, "base_demand": 20.0},
# {"block": 600, "base_demand": 6},
# {"block": 960, "base_demand": 18.0},
# {"block": 1080, "base_demand": 7},
# ]


[SEQUENCE]
# ------------------------------------------------------------------------
# Run a sequence of simulations
# ------------------------------------------------------------------------

# ------------------------------------------------------------------------
# Reques rate repeat (int)
# How many times to repeat each request_rate (to build up statistics)
# ------------------------------------------------------------------------

request_rate_repeat = 1

# ------------------------------------------------------------------------
# Driver count increment (int)
# Loop over vehicle counts, starting with vehicle_count (above), in
# increments of vehicle_count_increment, with a max of vehicle_count_max
# ------------------------------------------------------------------------

# vehicle_count_increment = 2

# ------------------------------------------------------------------------
# Driver count max (int)
# Loop over vehicle counts, starting with vehicle_count (above), in
# increments of vehicle_count_increment, with a max of vehicle_count_max
# ------------------------------------------------------------------------

# vehicle_count_max = 10

# ------------------------------------------------------------------------
# Price max
# Loop over prices, starting with vehicle_count (above), in
# increments of vehicle_count_increment, with a max of vehicle_count_max
# ------------------------------------------------------------------------

# price_max = 1

# ------------------------------------------------------------------------
# Request rate increment (float) -- INACTIVE
# Loop over request rates, starting with request_rate (above), in
# increments of request_rate_increment, with a max of request_rate_max.
# Only one decimal place is relevant
# ------------------------------------------------------------------------

request_rate_increment = 5

# ------------------------------------------------------------------------
# Request rate max (float) -- INACTIVE
# Loop over request rates, starting with request_rate (above), in
# increments of request_rate_increment, with a max of request_rate_max.
# Only one decimal place is relevant
# ------------------------------------------------------------------------

request_rate_max = 50

# ========================================================================
# END
# ========================================================================


