astroid @ file:///C:/ci/astroid_1639044403229/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1639166893812/work
Bottleneck==1.3.2
certifi==2022.12.7
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
ConfigUpdater==3.0.1
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
flake8 @ file:///tmp/build/80754af9/flake8_1620776156532/work
fonttools==4.25.0
future==0.18.2
importlib-metadata @ file:///C:/ci/importlib-metadata_1638543108096/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
jedi==0.15.2
kiwisolver @ file:///C:/ci/kiwisolver_1612282606037/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529307648/work
matplotlib @ file:///C:/ci/matplotlib-suite_1638289827560/work
mccabe==0.6.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///C:/ci/numexpr_1640704408721/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1634106873763/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas @ file:///C:/ci/pandas_1641443171711/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
Pillow==9.0.1
platformdirs @ file:///tmp/build/80754af9/platformdirs_1638968569495/work
pluggy @ file:///C:/ci/pluggy_1633697237830/work
pycodestyle==2.8.0
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work
pyflakes @ file:///tmp/build/80754af9/pyflakes_1617200973297/work
pylint @ file:///C:/ci/pylint_1639650750934/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server==0.31.9
pytz==2021.3
rope @ file:///tmp/build/80754af9/rope_1636994440010/work
scipy @ file:///C:/ci/scipy_1641555198988/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/ci/tornado_1606942392901/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
ujson==1.35
wincertstore==0.2
wrapt @ file:///C:/ci/wrapt_1638434029846/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
