# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]

# ------------------------------------------------------------------------
# City size (integer, default 10)
# The length of the city grid, in blocks.
# ------------------------------------------------------------------------

city_size = 6

# ------------------------------------------------------------------------
# Driver count (integer, default 1)
# The number of vehicles in the simulation. For simulations with 
# equilibration (see below), this is the number of vehicles at the 
# beginning of the simulation
# ------------------------------------------------------------------------

vehicle_count = 5

# ------------------------------------------------------------------------
# Base demand (float)
# An exogenous demand: actual demand = base demand - price
# ------------------------------------------------------------------------

base_demand = 0.3

# ------------------------------------------------------------------------
# Log file (string, default None)
# Log file name. By default, log messages are written to standard output
# only.
# ------------------------------------------------------------------------

log_file = 

# ------------------------------------------------------------------------
# Time blocks (integer)
# The number of time blocks to run the simulation. Each block corresponds
# to a vehicle travelling one block
# ------------------------------------------------------------------------

time_blocks = 51

# ------------------------------------------------------------------------
# Trip inhomogeneity (float in [0,1], default = 0.0)
# The more trip inhomogeneity, the more trips start in the city center
# ------------------------------------------------------------------------

trip_inhomogeneity = 0.0

# ------------------------------------------------------------------------
# Minimum trip distance (integer, default 0)
# A trip must be at least this long
# ------------------------------------------------------------------------

min_trip_distance = 0

# ------------------------------------------------------------------------
# Available vehicles moving (boolean, default False)
# Set to True if vehicles in the "idle" state should vehicle around
# the city. Set to False is they should stay where they are.
# ------------------------------------------------------------------------

idle_vehicles_moving = True 

# ------------------------------------------------------------------------
# Verbosity (integer, default 0)
# If 1, log info messages in addition to warning, and 
# error messages
# If 2, log debug messages in addition to information, warning, and 
# error messages
# ------------------------------------------------------------------------

verbosity = 0

# ------------------------------------------------------------------------
# Animation (binary, default False)
# If true, display or save animation.
# Animation configuration is in the [ANIMATION] section
# ------------------------------------------------------------------------

animation = True

# ------------------------------------------------------------------------
# Equilibration (choice from supply, demand, full; default False)
# Equilibrate the number of vehicles (supply), the request rate (demand)
# or full. The details of the parameter choices and equilibration rates
# are given in other parameters
# ------------------------------------------------------------------------

equilibration = False  

# ------------------------------------------------------------------------
# Run sequence (boolean, default False)
# Set to True to run a sequence of simulations with different vehicle 
# counts and request rates
# ------------------------------------------------------------------------

sequence = False

[ANIMATION]
# ------------------------------------------------------------------------
# Configure the animation
# ------------------------------------------------------------------------

# include_file = include_animate_map.config

# ------------------------------------------------------------------------
# Animate
# Select which charts and / or maps to animate. 
# Possible values include 
#   - none (no charts)
#   - map 
#   - stats
#   - equilibration
#   - all
# ------------------------------------------------------------------------

animate = all

# ------------------------------------------------------------------------
# Interpolate (integer, default 4)
# For the map display (only) add this many interpolated points between
# time periods so the car movements are smoother
# ------------------------------------------------------------------------

interpolate = 9

# ------------------------------------------------------------------------
# Smoothing Window (integer, default = 20)
# Window in which to compute averages for smoothing statistical plots
# ------------------------------------------------------------------------

smoothing_window = 20

# ------------------------------------------------------------------------
# Animate update period (integer, default 1)
# Update charts every N periods
# ------------------------------------------------------------------------

animate_update_period = 1

# ------------------------------------------------------------------------
# ImageMagick_Dir (string)
# If you choose an MP4 or GIF output (output parameter) then you need 
# ImageMagick installed. This is the directory in which it is installed, 
# for example:
#
#   imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16" 
# ------------------------------------------------------------------------

imagemagick_dir = /Program Files/ImageMagick-7.0.10-Q16-HDRI

# ------------------------------------------------------------------------
# Animation output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# File name should end with .mp4 or .gif.
# ------------------------------------------------------------------------

# animation_output_file = video/five_vehicles_graph.mp4

# ========================================================================
# END
# ========================================================================

