
[ANIMATION]
# ------------------------------------------------------------------------
# Configure the animation
# ------------------------------------------------------------------------

# ------------------------------------------------------------------------
# Animate
# Select which charts and / or maps to animate. 
# Possible values include 
#   - none (no charts)
#   - map 
#   - stats
#   - equilibration
#   - all
# ------------------------------------------------------------------------

animate = map

# ------------------------------------------------------------------------
# Interpolate (integer, default 4)
# For the map display (only) add this many interpolated points between
# time periods so the car movements are smoother
# ------------------------------------------------------------------------

interpolate = 9

# ------------------------------------------------------------------------
# Animate update period (integer, default 1)
# Update charts every N periods
# ------------------------------------------------------------------------

animate_update_period = 1

# ------------------------------------------------------------------------
# ImageMagick_Dir (string)
# If you choose an MP4 or GIF output (output parameter) then you need 
# ImageMagick installed. This is the directory in which it is installed, 
# for example:
#
#   imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16" 
# ------------------------------------------------------------------------

imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16

# ------------------------------------------------------------------------
# Output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# ------------------------------------------------------------------------

output = 



