# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]

# ------------------------------------------------------------------------
# City size (integer, default 10)
# The length of the city grid, in blocks.
# ------------------------------------------------------------------------

city_size = 6

# ------------------------------------------------------------------------
# Driver count (integer, default 1)
# The number of drivers in the simulation. For simulations with 
# equilibration (see below), this is the number of drivers at the 
# beginning of the simulation
# ------------------------------------------------------------------------

driver_count = 1

# ------------------------------------------------------------------------
# Base demand (float)
# An exogenous demand: actual demand = base demand - price
# ------------------------------------------------------------------------

base_demand = 0

# ------------------------------------------------------------------------
# Log file (string, default None)
# Log file name. By default, log messages are written to standard output
# only.
# ------------------------------------------------------------------------

log_file = 

# ------------------------------------------------------------------------
# Time blocks (integer)
# The number of time blocks to run the simulation. Each block corresponds
# to a driver travelling one block
# ------------------------------------------------------------------------

time_blocks = 501

# ------------------------------------------------------------------------
# Trip distribution ("uniform" or "beta_short" or "beta_long":
# default = "uniform")
# Distribution of trip origins and destinations
# ------------------------------------------------------------------------

trip_distribution = uniform

# ------------------------------------------------------------------------
# Minimum trip distance (integer, default 0)
# A trip must be at least this long
# ------------------------------------------------------------------------

min_trip_distance = 0

# ------------------------------------------------------------------------
# Available drivers moving (boolean, default False)
# Set to True if drivers in the "available" state should driver around
# the city. Set to False is they should stay where they are.
# ------------------------------------------------------------------------

available_drivers_moving = True 

# ------------------------------------------------------------------------
# Window (integer, default = 20)
# Rolling window in which to compute trailing averages (wait times, busy
# fraction etc) that are used in graphs and in calculations.
# ------------------------------------------------------------------------

trailing_window = 20

# ------------------------------------------------------------------------
# Verbose (binary, default False)
# If true, log debug messages in addition to information, warning, and 
# error messages
# ------------------------------------------------------------------------

verbose =  False

# ------------------------------------------------------------------------
# Quiet (binary, default False)
# If true, only log warning and error messages. 
# TODO: Combine this with verbose as a verbosity level
# ------------------------------------------------------------------------

quiet =  False

# ------------------------------------------------------------------------
# Animate (binary, default False)
# If true, display or save animation.
# Animation configuration is in the [ANIMATION] section
# ------------------------------------------------------------------------

animate = True

# ------------------------------------------------------------------------
# Equilibrate (choice from supply, demand, full; default None)
# Equilibrate the number of drivers (supply), the request rate (demand)
# or full. The details of the parameter choices and equilibration rates
# are given in other parameters
# ------------------------------------------------------------------------

equilibrate = None  

# ------------------------------------------------------------------------
# Run sequence (boolean, default False)
# Set to True to run a sequence of simulations with different driver 
# counts and request rates
# ------------------------------------------------------------------------

sequence = False

[ANIMATION]
# ------------------------------------------------------------------------
# Configure the animation
# ------------------------------------------------------------------------

# ------------------------------------------------------------------------
# Animate
# Select which charts and / or maps to animate. 
# Possible values include 
#   - none (no charts)
#   - map 
#   - stats
#   - all
# ------------------------------------------------------------------------

animate = map

# ------------------------------------------------------------------------
# Interpolate (integer, default 4)
# For the map display (only) add this many interpolated points between
# time periods so the car movements are smoother
# ------------------------------------------------------------------------

interpolate = 9

# ------------------------------------------------------------------------
# Animate update period (integer, default 1)
# Update charts every N periods
# ------------------------------------------------------------------------

animate_update_period = 2

# ------------------------------------------------------------------------
# ImageMagick_Dir (string)
# If you choose an MP4 or GIF output (output parameter) then you need 
# ImageMagick installed. This is the directory in which it is installed, 
# for example:
#
#   imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16" 
# ------------------------------------------------------------------------

imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16

# ------------------------------------------------------------------------
# Output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# ------------------------------------------------------------------------

output = 



# ========================================================================
# END
# ========================================================================

