# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]

# ------------------------------------------------------------------------
# City size (integer, default 10)
# The length of the city grid, in blocks.
# ------------------------------------------------------------------------

city_size = 40

# ------------------------------------------------------------------------
# Driver count (integer, default 1)
# The number of drivers in the simulation. For simulations with 
# equilibration (see below), this is the number of drivers at the 
# beginning of the simulation
# ------------------------------------------------------------------------

driver_count = 20

# ------------------------------------------------------------------------
# Base demand (float)
# An exogenous demand: actual demand = base demand - price
# ------------------------------------------------------------------------

base_demand = 21

# ------------------------------------------------------------------------
# Trip distribution ("uniform" or "beta": default = "uniform")
# Distribution of trip origins and destinations
# ------------------------------------------------------------------------

trip_distribution = uniform

# ------------------------------------------------------------------------
# Minimum trip distance (integer, default 0)
# A trip must be at least this long
# ------------------------------------------------------------------------

min_trip_distance = 0

# ------------------------------------------------------------------------
# Available drivers moving (boolean, default False)
# Set to True if drivers in the "available" state should driver around
# the city. Set to False is they should stay where they are.
# ------------------------------------------------------------------------

available_drivers_moving = True 

# ------------------------------------------------------------------------
# Log file (string, default None)
# Log file name. By default, log messages are written to standard output
# only.
# ------------------------------------------------------------------------

log_file = 

# ------------------------------------------------------------------------
# Time periods (integer)
# The number of time periods to run the simulation. Each period corresponds
# to a driver travelling one block
# ------------------------------------------------------------------------

time_blocks = 2001

# ------------------------------------------------------------------------
# Verbosity (integer, default 0)
# If 1, log info messages in addition to warning, and 
# error messages
# If 2, log debug messages in addition to information, warning, and 
# error messages
# ------------------------------------------------------------------------

verbosity = 0

# ------------------------------------------------------------------------
# Equilibration (choice from supply, demand, full; default None)
# Equilibrate the number of drivers (supply), the request rate (demand)
# or full. The details of the parameter choices and equilibration rates
# are given in other parameters
# ------------------------------------------------------------------------

equilibration = price

# ------------------------------------------------------------------------
# Results Window (integer, default = 100)
# At the end of the run, compute the final results by averaging over
# this results_window number of periods. Typically bigger than 
# trailing_window
# ------------------------------------------------------------------------

results_window = 500

# ------------------------------------------------------------------------
# Sequence (boolean, default False)
# Set to True to run a sequence of simulations with different driver 
# counts and request rates
# ------------------------------------------------------------------------

sequence = False

[EQUILIBRATION]
# ------------------------------------------------------------------------
# Price (float, default 1)
# Has effect only if an equilibration method is chosen
# Price is a part of the equilibration path
# ------------------------------------------------------------------------

price = 1.1

# ------------------------------------------------------------------------
# Platform commission F (float, default 0.0)
# Has effect only if an equilibration method is chosen and affects supply.
# The driver utility per block is U = P.B.F - C_d, 
# where F = driver price factor. F < 1 amounts to the platform taking a 
# commission, F > 1 is the platform subsidizing drivers.
# ------------------------------------------------------------------------

platform_commission = 0.0

# ------------------------------------------------------------------------
# Reserved wage (float, default 1)
# Has effect only if an equilibration method is chosen and affects supply.
# The driver utility per block is U = P.B - C_d, where C_d = reserved wage
# ------------------------------------------------------------------------

reserved_wage = 0.3

# ------------------------------------------------------------------------
# Demand elasticity (float, default 1.0)
# Has effect only if an equilibration method is chosen and affects supply.
# The demand (request rate) = k * p ^ (-r) 
# where r is the demand elasticity and k is the base demand
# ------------------------------------------------------------------------

demand_elasticity = 0.5

# ------------------------------------------------------------------------
# Equilibration interval (int)
# Has effect only if an equilibration method is chosen and affects demand.
# The period at which equilibration steps are chosen
# ------------------------------------------------------------------------

equilibration_interval = 50

[SEQUENCE]
# ------------------------------------------------------------------------
# Run a sequence of simulations
# ------------------------------------------------------------------------

# ------------------------------------------------------------------------
# Reques rate repeat (int)
# How many times to repeat each request_rate (to build up statistics)
# ------------------------------------------------------------------------

request_rate_repeat = 1

# ------------------------------------------------------------------------
# Driver count increment (int)
# Loop over driver counts, starting with driver_count (above), in 
# increments of driver_count_increment, with a max of driver_count_max
# ------------------------------------------------------------------------

driver_count_increment = 1

# ------------------------------------------------------------------------
# Driver count max (int)
# Loop over driver counts, starting with driver_count (above), in 
# increments of driver_count_increment, with a max of driver_count_max
# ------------------------------------------------------------------------

driver_count_max = 80

# ------------------------------------------------------------------------
# Request rate increment (float) -- INACTIVE 
# Loop over request rates, starting with request_rate (above), in 
# increments of request_rate_increment, with a max of request_rate_max.
# Only one decimal place is relevant
# ------------------------------------------------------------------------

request_rate_increment = 0.1

# ------------------------------------------------------------------------
# Request rate max (float) -- INACTIVE 
# Loop over request rates, starting with request_rate (above), in 
# increments of request_rate_increment, with a max of request_rate_max.
# Only one decimal place is relevant
# ------------------------------------------------------------------------

request_rate_max = 0.5

# ========================================================================
# END
# ========================================================================

