# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]

# ------------------------------------------------------------------------
# City size (integer, default 10)
# The length of the city grid, in blocks.
# ------------------------------------------------------------------------

city_size = 6

# ------------------------------------------------------------------------
# Driver count (integer, default 1)
# The number of drivers in the simulation. For simulations with 
# equilibration (see below), this is the number of drivers at the 
# beginning of the simulation
# ------------------------------------------------------------------------

driver_count = 1

# ------------------------------------------------------------------------
# Request rate (float, default = 0.2)
# The number of requests each time block. If this is non-integer
# then randomization is used to even out the request rate over time
# ------------------------------------------------------------------------

request_rate = 0.1

# ------------------------------------------------------------------------
# Log file (string, default None)
# Log file name. By default, log messages are written to standard output
# only.
# ------------------------------------------------------------------------

log_file = 

# ------------------------------------------------------------------------
# Time blocks (integer)
# The number of time blocks to run the simulation. Each block corresponds
# to a driver travelling one block
# ------------------------------------------------------------------------

time_blocks = 301

# ------------------------------------------------------------------------
# Verbose (binary, default False)
# If true, log debug messages in addition to information, warning, and 
# error messages
# ------------------------------------------------------------------------

verbose = 

# ------------------------------------------------------------------------
# Quiet (binary, default False)
# If true, only log warning and error messages. 
# TODO: Combine this with verbose as a verbosity level
# ------------------------------------------------------------------------

quiet = 

# ------------------------------------------------------------------------
# Show
# Select which charts and / or maps to display. 
# Possible values include 
#   - none (no charts)
#   - map 
#   - stats
#   - all
# ------------------------------------------------------------------------

draw = map

# ------------------------------------------------------------------------
# Draw update period (integer, default 1)
# Update charts every N periods
# ------------------------------------------------------------------------

draw_update_period = 1

# ------------------------------------------------------------------------
# Interpolate (integer, default 4)
# For the map display (only) add this many interpolated points between
# time periods so the car movements are smoother
# ------------------------------------------------------------------------

interpolate = 9

# ------------------------------------------------------------------------
# Window (integer, default = 20)
# Rolling window in which to compute rolling averages (wait times, busy
# fraction etc) that are used in graphs and in calculations.
# ------------------------------------------------------------------------

rolling_window = 20

# ------------------------------------------------------------------------
# Results Window (integer, default = 100)
# At the end of the run, compute the final results by averaging over
# this results_window number of periods. Typically bigger than 
# rolling_window
# ------------------------------------------------------------------------

results_window = 200

# ------------------------------------------------------------------------
# Output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# ------------------------------------------------------------------------

output = 

# ------------------------------------------------------------------------
# ImageMagick_Dir (string)
# If you choose an MP4 or GIF output (output parameter) then you need 
# ImageMagick installed. This is the directory in which it is installed, 
# for example:
#
#   imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16" 
# ------------------------------------------------------------------------

imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16

# ------------------------------------------------------------------------
# Available drivers moving (boolean, default False)
# Set to True if drivers in the "available" state should driver around
# the city. Set to False is they should stay where they are.
# ------------------------------------------------------------------------

available_drivers_moving = True 

# ------------------------------------------------------------------------
# Equilibrate (choice from supply, demand, both; default None)
# Equilibrate the number of drivers (supply), the request rate (demand)
# or both. The details of the parameter choices and equilibration rates
# are given in other parameters
# ------------------------------------------------------------------------

equilibrate = None 


[EQUILIBRATION]

# ------------------------------------------------------------------------
# Price (float, default 1)
# Has effect only if an equilibration method is chosen
# Price is a part of the equilibration path
# ------------------------------------------------------------------------

price = 3

# ------------------------------------------------------------------------
# Driver cost (float, default 1)
# Has effect only if an equilibration method is chosen and affects supply.
# The driver utility per block is U = P.B - C_d, where C_d = driver cost
# ------------------------------------------------------------------------

driver_cost = 3

# ------------------------------------------------------------------------
# Ride utility (float, default 1)
# Has effect only if an equilibration method is chosen and affects demand.
# The utility per block is U = U_0 - P - W C_w, where C_w = wait cost
# ------------------------------------------------------------------------

ride_utility =  3

# ------------------------------------------------------------------------
# Wait cost (float, default 1)
# Has effect only if an equilibration method is chosen and affects demand.
# The utility per block is U = U_0 - P - W C_w, where C_w = wait cost
# ------------------------------------------------------------------------

wait_cost = 3

# ------------------------------------------------------------------------
# Equilibration interval (int)
# Has effect only if an equilibration method is chosen and affects demand.
# The block at which equilibration steps are chosen
# ------------------------------------------------------------------------

equilibration_interval = 100

# ------------------------------------------------------------------------
# Window (integer, default = 20)
# Rolling window in which to compute rolling averages (wait times, busy
# fraction etc) that are used in graphs and in calculations.
# ------------------------------------------------------------------------

rolling_window = 20

# ------------------------------------------------------------------------
# Results Window (integer, default = 100)
# At the end of the run, compute the final results by averaging over
# this results_window number of block. Typically bigger than 
# rolling_window
# ------------------------------------------------------------------------

results_window = 200

# ------------------------------------------------------------------------
# Output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# ------------------------------------------------------------------------

output = 

# ------------------------------------------------------------------------
# ImageMagick_Dir (string)
# If you choose an MP4 or GIF output (output parameter) then you need 
# ImageMagick installed. This is the directory in which it is installed, 
# for example:
#
#   imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16" 
# ------------------------------------------------------------------------

imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16

# ------------------------------------------------------------------------
# Available drivers moving (boolean, default False)
# Set to True if drivers in the "available" state should driver around
# the city. Set to False is they should stay where they are.
# ------------------------------------------------------------------------

available_drivers_moving = True 


# ========================================================================
# END
# ========================================================================

