# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]

# ------------------------------------------------------------------------
# Include another configuration file
# Any settings in this file override settings in the included file
# The path is relative to this file
# ------------------------------------------------------------------------

include_file = basic.config

# ------------------------------------------------------------------------
# Base demand (float)
# An exogenous demand: actual demand = base demand - price
# ------------------------------------------------------------------------

base_demand = 0.1

# ========================================================================
# END
# ========================================================================

