# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]
# ------------------------------------------------------------------------
# Include another configuration file
# Any settings in this file override settings in the included file
# The path is relative to this file
# ------------------------------------------------------------------------

include_file = basic.config

# ------------------------------------------------------------------------
# Window (integer, default = 20)
# Rolling window in which to compute trailing averages (wait times, busy
# fraction etc) that are used in graphs and in calculations.
# ------------------------------------------------------------------------

trailing_window = 20

# ------------------------------------------------------------------------
# Results Window (integer, default = 100)
# At the end of the run, compute the final results by averaging over
# this results_window number of periods. Typically bigger than 
# trailing_window
# ------------------------------------------------------------------------

results_window = 200

# ------------------------------------------------------------------------
# Output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# ------------------------------------------------------------------------

output = 

# ========================================================================
# END
# ========================================================================

