# ========================================================================
# Example configuration file for ridehail simulation
# Tom Slee, 2020-06-20
# ========================================================================

[DEFAULT]

# ------------------------------------------------------------------------
# City size (integer, default 10)
# The length of the city grid, in blocks.
# ------------------------------------------------------------------------

city_size = 20

# ------------------------------------------------------------------------
# Driver count (integer, default 1)
# The number of drivers in the simulation. For simulations with 
# equilibration (see below), this is the number of drivers at the 
# beginning of the simulation
# ------------------------------------------------------------------------

driver_count = 2

# ------------------------------------------------------------------------
# Request rate (float, default = 0.2)
# The number of requests each time period (block). If this is non-integer
# then randomization is used to even out the request rate over time
# ------------------------------------------------------------------------

request_rate = 1

# ------------------------------------------------------------------------
# Log file (string, default None)
# Log file name. By default, log messages are written to standard output
# only.
# ------------------------------------------------------------------------

log_file = 

# ------------------------------------------------------------------------
# Time periods (integer)
# The number of time periods to run the simulation. Each period corresponds
# to a driver travelling one block
# ------------------------------------------------------------------------

time_blocks = 1001

# ------------------------------------------------------------------------
# Verbose (binary, default False)
# If true, log debug messages in addition to information, warning, and 
# error messages
# ------------------------------------------------------------------------

verbose = 

# ------------------------------------------------------------------------
# Quiet (binary, default False)
# If true, only log warning and error messages. 
# TODO: Combine this with verbose as a verbosity level
# ------------------------------------------------------------------------

quiet = 

# ------------------------------------------------------------------------
# Draw
# Select which charts and / or maps to draw. 
# Possible values include 
#   - none (no charts)
#   - map 
#   - stats
#   - equilibration
#   - summary
#   - all
# ------------------------------------------------------------------------

draw = summary

# ------------------------------------------------------------------------
# Draw update period (integer, default 1)
# Update charts every N periods
# ------------------------------------------------------------------------

draw_update_period = 1

# ------------------------------------------------------------------------
# Interpolate (integer, default 4)
# For the map display (only) add this many interpolated points between
# time periods so the car movements are smoother
# ------------------------------------------------------------------------

interpolate = 1

# ------------------------------------------------------------------------
# Equilibrate (choice from supply, demand, full; default None)
# Equilibrate the number of drivers (supply), the request rate (demand)
# or full. The details of the parameter choices and equilibration rates
# are given in other parameters
# ------------------------------------------------------------------------

equilibrate = None

# ------------------------------------------------------------------------
# Window (integer, default = 20)
# Rolling window in which to compute trailing averages (wait times, busy
# fraction etc) that are used in graphs and in calculations.
# ------------------------------------------------------------------------

trailing_window = 50

# ------------------------------------------------------------------------
# Results Window (integer, default = 100)
# At the end of the run, compute the final results by averaging over
# this results_window number of periods. Typically bigger than 
# trailing_window
# ------------------------------------------------------------------------

results_window = 200

# ------------------------------------------------------------------------
# Output (string, default None)
# Supply a file name in which to save the animations. If none is supplied,
# any animations are displayed on the screen only.
# ------------------------------------------------------------------------

output = 

# ------------------------------------------------------------------------
# ImageMagick_Dir (string)
# If you choose an MP4 or GIF output (output parameter) then you need 
# ImageMagick installed. This is the directory in which it is installed, 
# for example:
#
#   imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16" 
# ------------------------------------------------------------------------

imagemagick_dir = /Program Files/ImageMagick-7.0.9-Q16

# ------------------------------------------------------------------------
# Available drivers moving (boolean, default False)
# Set to True if drivers in the "available" state should driver around
# the city. Set to False is they should stay where they are.
# ------------------------------------------------------------------------

available_drivers_moving = True 

# ------------------------------------------------------------------------
# Run sequence (boolean, default False)
# Set to True to run a sequence of simulations with different driver 
# counts and request rates
# ------------------------------------------------------------------------

run_sequence = True

[EQUILIBRATION]
# ------------------------------------------------------------------------
# Price (float, default 1)
# Has effect only if an equilibration method is chosen
# Price is a part of the equilibration path
# ------------------------------------------------------------------------

price = 1

# ------------------------------------------------------------------------
# Driver cost (float, default 1)
# Has effect only if an equilibration method is chosen and affects supply.
# The driver utility per block is U = P.B - C_d, where C_d = driver cost
# ------------------------------------------------------------------------

driver_cost = 0.3

# ------------------------------------------------------------------------
# Ride utility (float, default 1)
# Has effect only if an equilibration method is chosen and affects demand.
# The utility per block is U = U_0 - P - W C_w, where C_w = wait cost
# ------------------------------------------------------------------------

ride_utility =  1.5

# ------------------------------------------------------------------------
# Wait cost (float, default 1)
# Has effect only if an equilibration method is chosen and affects demand.
# The utility per block is U = U_0 - P - W C_w, where C_w = wait cost
# ------------------------------------------------------------------------

wait_cost = 1

# ------------------------------------------------------------------------
# Equilibration interval (int)
# Has effect only if an equilibration method is chosen and affects demand.
# The period at which equilibration steps are chosen
# ------------------------------------------------------------------------

equilibration_interval = 100

[SEQUENCE]
# ------------------------------------------------------------------------
# Run a sequence of simulations
# ------------------------------------------------------------------------

# ------------------------------------------------------------------------
# Request rate repeat (int)
# How many times to repeat each request_rate (to build up statistics)
# ------------------------------------------------------------------------

request_rate_repeat = 1

# ------------------------------------------------------------------------
# Driver count increment (int)
# Loop over driver counts, starting with driver_count (above), in 
# increments of driver_count_increment, with a max of driver_count_max
# ------------------------------------------------------------------------

driver_count_increment = 2

# ------------------------------------------------------------------------
# Driver count max (int)
# Loop over driver counts, starting with driver_count (above), in 
# increments of driver_count_increment, with a max of driver_count_max
# ------------------------------------------------------------------------

driver_count_max = 202

# ------------------------------------------------------------------------
# Request rate increment (float) -- INACTIVE 
# Loop over request rates, starting with request_rate (above), in 
# increments of request_rate_increment, with a max of request_rate_max.
# Only one decimal place is relevant
# ------------------------------------------------------------------------

request_rate_increment = 0.5

# ------------------------------------------------------------------------
# Request rate max (float) -- INACTIVE 
# Loop over request rates, starting with request_rate (above), in 
# increments of request_rate_increment, with a max of request_rate_max.
# Only one decimal place is relevant
# ------------------------------------------------------------------------

request_rate_max = 4 

# ========================================================================
# END
# ========================================================================

