/*
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*/

#tab-toronto .to-chart {
  border-color: lightgrey;
  border-style: dotted;
  border-width: 1px;
}

.ui-mode-advanced {
  display: none;
}

.ui-zoom-hide {
  display: block;
}

.mdl-spinner {
  height: 84px;
  margin: auto;
  width: 84px;
}
.mdl-spinner__circle {
  border-width: 9px;
}

p {
  line-height: 1.5;
}

.pg-map-canvas-parent {
  position: relative;
  width: 75%;
}

.pg-canvas-parent {
  height: 400px;
  position: relative;
  width: 25%;
}

.what-if-canvas-parent {
  height: 400px;
  position: relative;
  width: 20%;
}

.pg-chart-canvas,
.what-if-chart-canvas {
  height: 400px;
  width: 200px;
}

/*
#chart-column,
#what-if-chart-column {
  border: 1px dotted black;
}
*/

.what-if-table,
.what-if-table th {
  table-layout: fixed;
  width: 100%;
}

.what-if-table td,
.what-if-table th {
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.pg-stats-description {
  width: 100%;
}

.chart-column {
  display: flex;
}

.top-controls {
  background: linear-gradient(to bottom, #ffffff 0%, #e2e8ee 100%);
  display: flex;
  padding-bottom: 10px;
}

.timeline-controls {
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
}

.top-control {
  border-left: 0.5px solid grey;
  flex-grow: 1;
  padding-left: 20px;
}

.top-control .value {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.what-if-comparison-value {
  border-radius: 4px;
  padding: 6px;
}

.ui-ridehail-settings {
  border-bottom-color: lightgrey;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: #333;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.38em;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ui-ridehail-settings p {
  color: #777;
  font-size: 12px;
  padding-bottom: 0;
}

.ui-ridehail-settings input {
  margin: 0;
  padding-top: 0;
}

.mdl-radio,
.mdl-checkbox__label {
  font-size: 14px;
  font-weight: 300;
  padding-right: 20px;
}
