/*
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*/

.mdl-spinner {
  border: red;
  height: 84px;
  width: 84px;
  margin: auto;
}
.mdl-spinner__circle {
  border-width: 9px;
}

p {
  line-height: 1.5;
}
.pg-canvas-parent {
  border-color: lightgrey;
  border-style: dotted;
  border-width: 1px;
  position: relative;
  width: 100%;
}
.st-canvas-parent {
  border-color: lightgrey;
  border-style: dotted;
  border-width: 1px;
  display: inline-block;
  position: relative;
  width: 150px;
}
/* 
 * .pg-chart-canvas {border-width: 0px; border-style: dotted; border-color: blue}
 * .st-chart-canvas {border-width: 0px; border-style: dotted; border-color: lightgrey}
 */
.st-button-parent {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px;
}
.top-controls {
  background: linear-gradient(to bottom, #ffffff 0%, #e2e8ee 100%);
  display: flex;
  padding-bottom: 10px;
}
.timeline-controls {
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
}
.top-control {
  border-left: 0.5px solid grey;
  flex-grow: 1;
  padding-left: 20px;
}
.top-control .value {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.ui-ridehail-settings {
  border-bottom-color: lightgrey;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: #333;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.38em;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ui-ridehail-settings p {
  color: #777;
  font-size: 12px;
  padding-bottom: 0;
}

.ui-ridehail-settings input {
  margin: 0;
  padding-top: 0;
}

.mdl-radio,
.mdl-checkbox__label {
  font-size: 14px;
  font-weight: 300;
  padding-right: 20px;
}
